/* General Styles */
body {
  font: 20px 'Lato', sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

a:visited {
  color: grey;
}

input {
  padding: 1rem;
}

h2 {
  text-align: center;
}
