.navbar {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        font-weight: bold;
    }

}