.price-ctnr {
    border: lightgrey solid;
    border-radius: 2px;
    margin: 4rem auto 0;
    padding: .5rem 2rem 2rem;
    text-align: center;
    width: 198px;
}

.stock__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 2rem 0;

    .metrics-ctnr {
        display: flex;
        flex-flow: column wrap;
    }

    .stock {
        
        &__elem {
            border: silver solid 2px;
            border-radius: 5px;
            margin: 2rem;
            padding: 0 2rem 2rem;
            &::before {
                background-color: white;
                color: steelblue;
                content: attr(data-name);
                display: block;
                font-weight: bold;
                margin: 0 auto;
                padding: .7rem 3rem;
                position: relative;
                text-align: center;
                top: -25px;
                border: grey solid;
                border-radius: 2px;

            }
        }

        &__metric {
            padding: 1rem 0;
        }

        &__btn {
            background-color: steelblue;
            border-radius: 2px;
            border-style: none;
            color: white;
            cursor: pointer;
            font-weight: bold;
            margin: 0 auto;
            min-width: 100%;
            padding: 1rem;
            text-transform: uppercase;
        }
        
        &__btn:hover {
            background-color: darken(steelblue, 20%);
        }
    }
}